@import '../../../../../../styles';

.header {
  width: 100%;
  background-color: $color-green;

}
.search{
  width: 500px;
  padding: 10px 0 0 10px;
}

.container-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.paginator{
  background-color: $color-green;
  padding: 10px 10px 0 0;
}
.container-bottom{

  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-right: 100px;
  border-top: 2px solid $color-secondary;
}
.sort-field{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: $color-text;
  display: flex;
  width: 25%;
  padding: 0 30px 0 10px;
  cursor: pointer;
  user-select: none;
  padding-top: 10px;
}
.field-text {
  margin-right: auto;
}
.content {
  color: $color-text;
  width: 100%;

}
.user-container{
  font-family: 'Roboto';
  display: flex;
  min-height: 60px;
  align-items: center;
  background-color: $color-primary;
  padding: 0 5px;
}
.user-field {
  width: 25%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-text;
  padding: 0 15px 0 0;
}
.user-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  color: $color-text;
}
.even{
  background-color: $color-secondary
}

.about-btn{
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  display:block;
  width:100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: background-color 0.1s linear;        
  height: 35px;
  background-color: rgb( 43, 153, 91 );
  border: 1px solid rgb( 33, 126, 74 );
  }
          
  .about-btn:hover {
  background-color: rgb( 75, 183, 141 );
  }

  .activeSort {
    background-color: #44926c;
    transition: 0.4s;
    mat-icon {
      transition: 0.3s;
      transform: rotate(180deg);
    }
  }
  .activeSortML {
    mat-icon {
      transition: 0.3s;
      transform: rotate(0deg);
    }
  }