<div class="container" *ngIf="workerData$ | async as workerData">
  <div class="highlightBlock">
    <img src="/" alt="" class="img">
    <div class="description">
      <span class="highlight">{{ workerData.name }}</span>
      <span class="highlight">{{ workerData.profession }}</span>
      <span class="highlight">возраст: {{ workerData.age }}</span>
      <span class="highlight">{{ workerData.currentSalary }} RUB</span>
    </div>
    <button class="edit-btn">Редактировать</button>
    <button class="delete-btn" (click)="openDialog(workerData.key)">Удалить</button>
  </div>

  <div class="userInformationBlock">
    <h3 class="h3">Сведения о пользователе</h3>

    <div class="graph">
      <worker-salary-graph [myData]="workerData.salaryStatistic"/>
    </div>

    <div class="additionalInformation">
      <div class="card">
        <div class="label">Электронная почта</div>
        <div class="value">{{ workerData.email }}</div>
      </div>

      <div class="card">
        <div class="label">Телефон</div>
        <div class="value">{{ workerData.phone }}</div>
      </div>

      <div class="card">
        <div class="label">Дата рождения</div>
        <div class="value">{{ workerData.dateOfBirth }}</div>
      </div>

      <div class="card">
        <div class="label">Дата устройства</div>
        <div class="value">{{ workerData.deviceDate }}</div>
      </div>

      <div class="card">
        <div class="label">Обучение</div>
        <div class="value">{{ workerData.education }}</div>
      </div>

      <div class="card">
        <div class="label">Название Уч. заведения</div>
        <div class="value">{{ workerData.institution }}</div>
      </div>
    </div>
  </div>

  <div class="eventHistory">
    <div class="eventHistory__head">
      <span class="eventHistory__h">История событий</span>
      <div class="filter">
        <span class="filter__span">Фильтры</span>

      </div>
    </div>
    <div class="events">
      <ng-container *ngFor="let event of workerData?.eventHistory">
        <div class="event">{{ event }}</div>
      </ng-container>
    </div>
  </div>
</div>
