<form [formGroup]='recruitmentForm' (ngSubmit)='submitRecruitment()'>


  <div class="container">
    <div class="img-block">
      <img class="img" src="../../../../../../assets/cloudImg.svg" alt="">
    </div>
    <ng-container *ngFor="let card of cardsOfInputs; trackBy: trackByControlName">
      <input-recruitment [card]="card" [recruitmentForm]="recruitmentForm"/>
    </ng-container>

    <button class="button" type="submit" [disabled]="recruitmentForm.invalid">Сохранить</button>
  </div>
</form>
