@import '../../../../../../styles';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 23px;
  padding-top: 32px;
  width: 725px;
  background-color: $color-secondary;
}

.headRecruit {
  display: flex;

  align-items: flex-end;
}

.img-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 116px;
  height: 115px;
  background: #D9D9D9;
  border-radius: 15px;
}

.img {
  max-width: 110%;
  min-width: 100%;
  max-height: 120%;
  border-radius: 15px;
}

.inputImg {

}


.submit-button {
  margin-top: 50px;
  mix-blend-mode: normal;
  opacity: 0.9;
  outline: none;
  border-radius: 16px;
  border: none;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: center;

  color: $color-text;

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    background-color: gray;
    cursor: unset;
  }
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

.custom-file-upload::before {
  content: "\f0ee";
  margin-right: 8px;
}

input[type="file"] {
  display: none;
}

