<div class="container">
  <div class="content">
    <div class="title">С возвращением</div>
    <div class="text description">Заполните поля для входа на сайт</div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="text email-description">Email</div>
      <div><input class="inputForm" type="email" formControlName="email"></div>
      <div *ngIf="validationElementMethod('email')" class="danger">
        <div class="invalidMessenger" *ngFor="let error of getErrorMessages(loginForm.get('email')!)">
          Адрес почты {{error}}
        </div>
      </div>
      <div class="text">Пароль</div>
      <div><input class="inputForm" type="password" formControlName="password"></div>
      <div *ngIf="validationElementMethod('password')" class="danger">
        <div class="invalidMessenger" *ngFor="let error of getErrorMessages(loginForm.get('password')!)">
          Пароль {{error}}
        </div>
      </div>
      <div class="additional">
      </div>
      <div class="login">
        <app-green-button width="100%" height="50px" [disabled]="loginForm.invalid" label="Войти" />
      </div>
      <div class="text registration">Еще нет аккаунта ? <span routerLink="/registration" changeColorOnHover>Зарегестрируйтесь здесь</span></div>
    </form>
  </div>
</div>
