.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;
  background-color: #007DFA;
  width: 522px;
  height: 626px;
  border-radius: 29px;
}

.login {
  margin-left: 205px;
  padding-top: 89px;
  font-size: 40px;
  line-height: 57px
}

.description {
  color: white;
  font-size: 17px;
  line-height: 20px;
  margin-top: 15px;
  margin-left: 107px;
}

div input {
  width: 480px;
  height: 49px;
  margin-left: 21px;
  border-radius: 7px;
  border: 2px solid #000000;
  font-size: 17px;
  line-height: 40px;
}

.e-mail {
  margin-top: 59px;
}

.password {
  margin-top: 57px;
}

.danger {
  color: red;
  margin-left: 25px;
}

button {
  margin-left: 185px;
  margin-top: 57px;
  width: 153px;
  height: 31px;
  font-size: 17px;
  line-height: 20px;
  background-color: #007DFA;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
}
