<div class="user-info">
  <img src="../../../assets/Joe-Hughes.jpg">
  <div class="user-info-text">
    <p class="username">Степанов артем</p>
    <p class="status">{{ "administator"  }}</p>
  </div>
</div>

<div class="sidebar-buttons">
  <div class="sidebar-startbox">
    <app-nav-button text="users" path="/users">
      <mat-icon svgIcon="users-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>

    <app-nav-button text="Recruitments" path="/createuser">
      <mat-icon svgIcon="recruit-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>

    <app-nav-button text="Analytics" path="/analytics">
      <mat-icon svgIcon="analytic-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>

    <app-nav-button text="Settings" path="/settings">
      <mat-icon svgIcon="settings-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>
  </div>

  <div class="sidebar-endbox">
    <app-nav-button text="Help center" path="/help">
      <mat-icon svgIcon="help-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>

    <app-nav-button text="Log out" path="/logout">
      <mat-icon svgIcon="log-out-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>

    <div class="divider"></div>

    <app-nav-button text="Nightmode" path="">
      <mat-icon svgIcon="nightmode-ico" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </app-nav-button>
  </div>
</div>