$AuthBackgroundColor: #1C1C1E;
$AuthTextColor: #FFFFFF;
$AuthButtonColor: #F71735;
$AuthButtonTextColor: #F8A81B;
$AuthInputColor: #FFFFFF;
$AuthTitleSize: 50px;
$AuthTextSize: 20px;
$InputBackgroundColor: #3B3B41;
$InputWidth: 575px;
$InputHeight: 60px;
$AuthButtonWidth: 575px;
$AuthButtonHeight: 80px;
