.cardOfInput {
  margin-top: 19px;
  width: 340px;
}

.label-input {
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #F1F1F1;

}

.invalid {
  color: red;
}

.input {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  background: #EEEEEE;
  border: none;
  border-radius: 8px;;
}

.input:focus {
  outline: none;
}
