<div class="cardOfInput" [formGroup]='recruitmentForm'>
  <div class="labelWithValid">
    <div class="label-input">{{ card.label }}</div>
    <div class="invalid" *ngIf="validationElementMethod(card.controlName)">
      <div class="invalidMessenger" *ngIf="validationElementMethodRequired(card.controlName)">
        Это поле обязательно
      </div>
      <div class="invalidMessenger" *ngIf="validationElementMethodPattern(card.controlName)">
        Ваш ввод невалиден
      </div>
      <div class="invalidMessenger" *ngIf="validationElementMethodEmail(card.controlName)">
        Почта некорректна
      </div>
    </div>
  </div>
  <input #input (blur)="onInputChange()" class="input" [type]="card.type" [formControlName]="card.controlName">
</div>


